services:
  bot:
    build: .
    restart: always
    env_file:
      - .env
    ports:
      - "${WEBHOOK_PORT}:${WEBHOOK_PORT}"
    volumes:
      - ./logs:/app/logs
      - ./data:/app/data  # ВАЖНО: Здесь будет лежать файл database.db