services:
  # Сервис Базы Данных
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  # Сервис Бота
  bot:
    build: .
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    environment:
      # Ссылка на БД внутри Docker-сети (host = имя сервиса "db")
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    ports:
      - "${WEBHOOK_PORT}:${WEBHOOK_PORT}"
    volumes:
      - ./logs:/app/logs  # Чтобы логи сохранялись на хосте

volumes:
  pg_data: