taxi/venv/
taxi/__pycache__/
taxi/logs.txt
taxi/*.txt
taxi/search-new-keys.json

telegram-vip-bot/venv/
telegram-vip-bot/__pycache__/
telegram-vip-bot/logs/
telegram-vip-bot/*.txt
telegram-vip-bot/search-new-keys.json
